.column1 {
  width: 500px;
  float: left;
  background-color: blue;
  padding: 8px;
}

.column2 {
  width: 300px;
  float: left;
  background-color: green;
  padding: 8px;
  height: 715px;
}

.pinkbox {
  width: 830px;
  background-color: pink;
  padding: 1px;
  height: 40px;
}

.headerbox {
  width: 830px;
  background-color: red
}
