.column1 {
  width: 500px;
  float: left;
  background-color: #96E896;
  padding: 8px;
}

.column2 {
  width: 300px;
  float: left;
  background-color: #CC99FF;
  padding: 8px;
  height: 722px;
}

.pinkbox {
  width: 830px;
  background-color: #FF91B5;
  padding: 1px;
  height: 40px;
}

.headerbox {
  width: 830px;
  background-color: #E9E9F1;
  padding: 1px;
}
